@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

body {
    @include m.flex-vertical($gap: 1.5rem);
    font-family: v.$ff;
    font-size: calc(v.$fs / 1.125);
    position: relative;
    z-index: -3;

    /* background shorthand
    background: 
    [background-color] 
    [background-image] 
    [background-repeat] 
    [background-attachment] 
    [background-position] / [background-size];
    */
    background: 
    v.$body-bg
    url(../../../images/image-hero-mobile.jpg)
    no-repeat
    center top / contain;

    @media screen and (min-width: 425px) {
        background-image:url(../../../images/image-hero-desktop.jpg);
    }

    @media screen and (min-width: 768px) {
        font-size: v.$fs;
    }
}

.dark_overlay::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.sr_only {
    @include m.srOnlyTitle();
}

main {
    @include m.flex-vertical($gap: 2rem);
    margin-block-start: 8.5rem;
    margin-inline: 1.5rem;
    position: relative;
    z-index: -2;
    padding-block-end: 6rem;

    @media screen and (min-width: 768px) {
        width: 45.5rem;
        margin-block-start: 10.5rem;
    }
}