/* Fonts */
/* = Colors = */
/* Primary */
/* Neutral */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-family: "Commissioner", sans-serif;
  font-size: 0.8888888889rem;
  /* background shorthand
  background: 
  [background-color] 
  [background-image] 
  [background-repeat] 
  [background-attachment] 
  [background-position] / [background-size];
  */
  background: hsl(0, 0%, 98%) url(../../../images/image-hero-mobile.jpg) no-repeat center top/contain;
}
@media screen and (min-width: 425px) {
  body {
    background-image: url(../../../images/image-hero-desktop.jpg);
  }
}
@media screen and (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}

.sr_only {
  color: transparent;
  position: absolute;
  height: 0;
  top: 0;
  left: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-block-start: 8.5rem;
  margin-inline: 1.5rem;
  position: relative;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  main {
    width: 45.5rem;
    margin-block-start: 10.5rem;
  }
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding-block: 2rem;
  padding-inline: 1.5rem;
  width: 100%;
}
.nav_bar.darkLayer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(black, transparent);
  z-index: -3;
  pointer-events: none;
}
.nav_bar .bar_menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}
.nav_bar .bar_menu .menu_options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  color: hsl(0, 0%, 0%);
  font-size: 1.125rem;
  font-weight: 500;
  background-color: white;
  border-radius: 0.5rem;
  position: absolute;
  top: 5rem;
  left: 1.5rem;
  right: 0;
  margin-inline: auto 1.5rem;
  max-width: 20.75rem;
  overflow: hidden;
  max-height: 0;
  z-index: 2;
  background-blend-mode: darken;
}
.nav_bar .bar_menu .menu_options .option {
  padding: 1.375rem;
  position: relative;
  width: 100%;
}
.nav_bar .bar_menu .menu_options .option:not(:last-child) {
  border-bottom: 1px solid hsl(0, 0%, 92%);
}
.nav_bar .bar_menu .openMenu {
  max-height: 13rem;
}
.nav_bar .bar_menu .menu_dropdown_btn {
  background: transparent url(../../../images/icon-hamburger.svg) no-repeat center top;
  width: 1rem;
  height: 1rem;
  overflow: hidden;
  color: transparent;
  border: none;
  cursor: pointer;
}
.nav_bar .bar_menu .closeMenu {
  background-image: url(../../../images/icon-close-menu.svg);
}

@media screen and (min-width: 704px) {
  .nav_bar {
    padding-block: 3rem;
    padding-inline: 10.5rem;
  }
  .nav_bar .bar_menu .menu_options {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    position: unset;
    font-size: 0.8rem;
    background-color: unset;
    color: white;
    max-width: unset;
    max-height: unset;
    margin: 0;
  }
  .nav_bar .bar_menu .menu_options .option {
    padding: 0;
  }
  .nav_bar .bar_menu .menu_options .option:not(:last-child) {
    border: none;
    width: fit-content;
  }
  .nav_bar .bar_menu .menu_dropdown_btn {
    display: none;
  }
}
.crowdfund_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.125rem;
  background-color: white;
  border-radius: 0.5rem;
  padding-block: 3.5rem 2.5rem;
  padding-inline: 1.5rem;
  position: relative;
  box-shadow: 0 0 0.9rem -0.875rem black;
}
.crowdfund_header::before {
  content: "";
  background-image: url(../../../images/logo-mastercraft.svg);
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 3.5rem;
  height: 3.5rem;
  top: -1.75rem;
}
.crowdfund_header .header_topic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.125rem;
  text-align: center;
}
.crowdfund_header .header_topic .topic_title {
  line-height: 1.125;
}
.crowdfund_header .header_topic .topic_description {
  color: hsl(0, 0%, 48%);
}
.crowdfund_header .header_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.crowdfund_header .header_buttons button {
  border: none;
  border-radius: 100vw;
  font-weight: 700;
}
.crowdfund_header .header_buttons .button_back_project {
  font-size: 1rem;
  background-color: hsl(176, 50%, 47%);
  color: white;
  padding-block: 1rem;
  font-weight: 500;
  width: 100%;
  max-width: 12.5rem;
}
.crowdfund_header .header_buttons .button_bookmark {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  padding: 0;
  overflow: hidden;
  max-width: 3.5rem;
  color: hsl(0, 0%, 48%);
}

@media screen and (min-width: 528px) {
  .crowdfund_header {
    padding-block-end: 2.75rem;
    padding-inline: 3rem;
    gap: 2.125rem;
    width: 100%;
  }
  .crowdfund_header .header_topic .topic_title {
    font-size: 1.75rem;
  }
  .crowdfund_header .header_buttons .button_back_project:hover {
    cursor: pointer;
  }
  .crowdfund_header .header_buttons .button_bookmark {
    padding-inline-end: 1rem;
    gap: 1rem;
    max-width: 11rem;
  }
}
.progression {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: white;
  padding-block: 1.5rem 2rem;
  padding-inline: 1.5rem;
  margin-inline: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.9rem -0.875rem black;
  width: 100%;
}
.progression .progression_stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  text-align: center;
}
.progression .progression_stat .stat_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.125rem;
  padding-block: 1.5rem;
  position: relative;
}
.progression .progression_stat .stat_block:nth-child(1) {
  padding-block: 0 1.5rem;
}
.progression .progression_stat .stat_block:not(:last-child)::after {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 5rem;
  border-bottom: 1px solid hsl(0, 0%, 84%);
}
.progression .progression_stat .stat_block .block_value {
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
}
.progression .progression_stat .stat_block .block_text {
  color: hsl(0, 0%, 48%);
}
.progression .progression_bar {
  width: 100%;
  -webkit-appearance: none;
}
.progression .progression_bar::-webkit-progress-bar, .progression .progression_bar::-webkit-progress-value {
  border-radius: 100vw;
}
.progression .progression_bar::-webkit-progress-bar {
  background-color: hsl(0, 0%, 92%);
  height: 0.75rem;
}
.progression .progression_bar::-webkit-progress-value {
  background-color: hsl(176, 50%, 47%);
}

@media screen and (min-width: 768px) {
  .progression {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding: 2.5rem 3rem;
  }
  .progression .progression_stat {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    width: 100%;
  }
  .progression .progression_stat .stat_block {
    padding-block: 0;
    padding-inline: 2.25rem;
    text-align: left;
    flex: 1;
  }
  .progression .progression_stat .stat_block:nth-child(1) {
    padding-block: 0;
    padding-inline: 0 2.5rem;
  }
  .progression .progression_stat .stat_block:not(:last-child)::after {
    border-bottom: unset;
    border-right: 1px solid hsl(0, 0%, 84%);
    left: unset;
    top: 0;
    right: 0;
    height: 4rem;
  }
  .progression .progression_stat .stat_block .block_text {
    width: 100%;
  }
}
.donation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: white;
  box-shadow: 0 0 0.9rem -0.875rem black;
  border-radius: 0.5rem;
  padding-block: 2.25rem;
  padding-inline: 1.5rem;
}
.donation .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
.donation .about .title {
  font-size: 1.125rem;
}
.donation .about .par {
  color: hsl(0, 0%, 48%);
}
.donation .reward_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.75rem;
}
.donation .reward_list .reward {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 1.5rem;
  border: 1px solid hsl(0, 0%, 84%);
  border-radius: 0.5rem;
}
.donation .reward_list .reward .reward_header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.25rem;
}
.donation .reward_list .reward .reward_header .header_pledge {
  color: hsl(176, 50%, 47%);
  font-weight: 500;
}
.donation .reward_list .reward .reward_description {
  color: hsl(0, 0%, 48%);
  line-height: 1.75;
}
.donation .reward_list .reward .reward_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.25rem;
}
.donation .reward_list .reward .reward_footer .footer_rewards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.donation .reward_list .reward .reward_footer .footer_rewards .rewards_left {
  font-weight: 700;
  font-size: 2rem;
}
.donation .reward_list .reward .reward_footer .footer_rewards .rewards_text {
  color: hsl(0, 0%, 48%);
  position: relative;
  top: 0.125rem;
}
.donation .reward_list .reward .reward_footer .footer_confirm_btn {
  background-color: hsl(176, 50%, 47%);
  border: none;
  border-radius: 100vw;
  color: white;
  font-weight: 500;
  padding: 0.85rem 2rem;
  width: 10rem;
}

@media screen and (min-width: 768px) {
  .donation {
    padding: 3rem;
    gap: 2.5rem;
  }
  .donation .about .title {
    font-size: 1.25rem;
  }
  .donation .about .par {
    line-height: 1.875;
  }
  .donation .reward_list .reward {
    padding: 2rem;
    gap: 1.5rem;
  }
  .donation .reward_list .reward .reward_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    width: 100%;
  }
  .donation .reward_list .reward .reward_header .header_title {
    font-size: 1.125rem;
  }
  .donation .reward_list .reward .reward_header .header_pledge {
    font-size: 0.8888888889rem;
  }
  .donation .reward_list .reward .reward_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    width: 100%;
  }
  .donation .reward_list .reward .reward_footer .footer_confirm_btn {
    font-size: 0.8888888889rem;
    cursor: pointer;
  }
  .donation .reward_list .reward:nth-child(3) {
    opacity: 40%;
  }
  .donation .reward_list .reward:nth-child(3) .footer_confirm_btn {
    background-color: hsl(0, 0%, 48%);
    cursor: unset;
  }
}
/* Abstracts */
/* Base *//*# sourceMappingURL=main.css.map */