@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.back_project {
    @include m.flex-vertical($gap: 1.5rem, $align-items: unset);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding-block: 2rem;
    padding-inline: 1.5rem;
    margin-block: 7.5rem;
    margin-inline: 1.5rem;
    border-radius: .5rem;

    display: none;

    .back_header {
        @include m.flex-horizontal($justify-content: space-between);

        .title {
            font-size: calc(v.$fs * 1.25);
        }

        //close_icon{}
    }

    .back_desc {
        color: v.$par-clr;
    }

    .reward_choices {
        @include m.flex-vertical($gap: 1.5rem);

        .reward {
            $padBlock: 1.75rem;
            $padInline: 1.5rem;
            @include m.flex-vertical($align-items: unset);
            border: 1px solid v.$stat-border-clr;
            border-radius: .5rem;
            

            .choice {
                @include m.flex-vertical($gap: 1.5rem, $align-items: unset);
                padding: $padBlock $padInline;

                .choice_type {
                    @include m.flex-horizontal($gap: 1rem);

                    #rewardRadio {
                        /* The native appearance is hidden */
                        appearance: none;
                        -webkit-appearance: none;
                        /* For a circular appearance we need a border-radius. */
                        border-radius: 100vw;
                        /* The background will be the radio dot's color. */
                        background: transparent;
                        /* The border will be the spacing between the dot and the outer circle */
                        border: 5px solid white;
                        /* And by creating a box-shadow with no offset and no blur, we have an outer circle */
                        box-shadow: 0 0 0 1px v.$stat-border-clr;

                        padding: 6px;
                        position: relative;
                        overflow: hidden;

                        &:checked::before {
                            content: "";
                            width: 12px;
                            height: 12px;
                            background-color: v.$btn-clr;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }

                    .label {
                        @include m.flex-vertical($gap: .25rem, $align-items: flex-start);

                        .type_label {
                            font-weight: v.$fw-bold;
                        }

                        .pledge_price {
                            color: v.$btn-clr;
                            font-weight: v.$fw-medium;
                        }
                    }
                }

                .choice_desc {
                    color: v.$par-clr;
                }

                .rewards_left {
                    @include m.flex-horizontal($gap: .5rem);
                    line-height: 1;

                    .left_value {
                        font-weight: v.$fw-bold;
                        font-size: calc(v.$fs * 1.125);
                    }

                    .left_text {
                        color: v.$par-clr;
                        font-weight: v.$fw-medium;
                    }
                }
            }

            .pledge {
                @include m.flex-vertical($gap: 1rem);
                padding: $padBlock $padInline;
                border-top: 2px solid v.$dropdown-line-clr;
                overflow: hidden;

                /*
                height: 0;
                padding: 0;
                border: 0;
                */


                .pledge_text {
                    color: v.$par-clr;
                }

                .pledge_insertion {
                    @include m.flex-horizontal($gap: 1rem);
                    position: relative;

                    .dollar_symbol {
                        position: absolute;
                        padding-inline-start: 1.5rem;
                        margin-block-end: .125rem;
                        color: v.$stat-border-clr;
                        font-weight: v.$fw-bold;
                    }

                    .insertion_input {
                        max-width: unset;
                        border-radius: 100vw;
                        border: 1px solid v.$stat-border-clr;
                        width: 6.25rem;     
                        padding-block: .75rem;
                        outline: none;  
                        text-align: center;
                        font-weight: v.$fw-bold;
                        
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }

                    .insertion_confirm {
                        border: none;
                        background-color: v.$btn-clr;
                        padding: .875rem 1.75rem;
                        border-radius: 100vw;
                        color: white;
                        font-weight: v.$fw-medium;
                    }
                }
            }
        }
    }
}