@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.progression {
    @include m.flex-vertical();
    background-color: white;
    padding-block: 1.5rem 2rem;
    padding-inline: 1.5rem;
    margin-inline: 1.5rem;
    border-radius: .5rem;
    box-shadow: 0 0 .9rem -.875rem black;
    width: 100%;

    //.sr_only{}

    .progression_stat {
        @include m.flex-vertical();
        text-align: center;

        .stat_block {
            @include m.flex-vertical($gap: .125rem);
            padding-block: 1.5rem;
            position: relative;

            &:nth-child(1) {
                padding-block: 0 1.5rem;
            }

            &:not(:last-child)::after {
                content: " ";
                position: absolute;
                bottom: 0;
                width: 5rem;
                border-bottom: 1px solid v.$stat-border-clr;
            }

            .block_value {
                font-size: calc(v.$fs * 2);
                font-weight: v.$fw-bold;
                width: 100%;
            }

            .block_text {
                color: v.$par-clr;
            }
        }
    }

    .progression_bar {
        width: 100%;
        -webkit-appearance: none;
        
        &::-webkit-progress-bar,
        &::-webkit-progress-value {
            border-radius: 100vw;
        }

        &::-webkit-progress-bar {
           background-color: v.$dropdown-line-clr;
           height: .75rem;
        }

        &::-webkit-progress-value {
            background-color: v.$btn-clr;
        }
    }
}

@media screen and (min-width: 768px) {
    .progression {
        @include m.flex-vertical($align-items: flex-start, $gap: 2rem);
        padding: 2.5rem 3rem;

        .progression_stat {
            @include m.flex-horizontal();
            width: 100%;

            .stat_block {
                padding-block: 0;
                padding-inline: 2.25rem;
                text-align: left;
                flex: 1;

                &:nth-child(1) {
                    padding-block: 0;
                    padding-inline: 0 2.5rem;
                }

                &:not(:last-child)::after {
                    border-bottom: unset;
                    border-right: 1px solid v.$stat-border-clr;
                    left: unset;
                    top: 0;
                    right: 0;
                    height: 4rem;
                }

                //.block_value {}

                .block_text {
                    width: 100%;
                }
            }
        }
    }
}